.complete-todo-item:hover {
    color: $green;
    cursor: pointer;
}

.incomplete-todo-item:hover {
    color: $red;
    cursor: pointer;
}

.existing-todo-item {
    margin-top: 20px;
}

.mt-20 {
    margin-top: 20px;
}